@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(53, 53, 53);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

li, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(221, 216, 209);
  text-decoration: none;
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  color: rgb(221, 216, 209);
  background-color: black;
}

header a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(221, 216, 209);
  text-decoration: none;
  background-color: black;
}
#about a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 21px;
  color: rgb(221, 216, 209);
  text-decoration: none;
}

header h1{
  background-color: black;
}

.nav_links {
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color:rgb(248, 230, 128)
}

button{
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

img{
  border-radius: 20px;
  align-items: center;
}

.myself{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  max-width: 69rem;
  margin: auto;
  padding: 0.625rem;
  border-radius: 6px;
  text-align: center;
  color: rgb(221, 216, 209);
  font-size: 25px;
}

.myself img{
  height: 37.5rem;
  width: 31.5rem;
}

.myself h1{
  color: rgb(192, 166, 135);
}

h1{
  color: rgb(192, 166, 135);
  text-align:center;
  font-size: 25px;
  
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  
}

.skill-header {
  margin-bottom: 1rem;
  font-size: 25px;
  
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 15rem;
  height: 16rem;
}

.icon-card {
  background-color: rgb(202, 174, 16);
  border-radius: 300px;
  padding: 15px;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

#projects a{
  color: rgb(192, 166, 135);
  background-color: transparent;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

#projects p{
  color: rgb(221, 216, 209);
  background-color: transparent;
  font-size: 18px;
  text-align: center;
}

section{
  padding-bottom: 300px;
  padding-top: 100px;
}

.contact {
  margin-top: 2rem;
}

.contact-form-container label {
  line-height: 3em;
  font-weight: bolder;
  color: rgb(192, 166, 135);
}

.contact-form-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
}

#submit-btn{
  color: rgb(192, 166, 135);
}